<!DOCTYPE HTML>
<html>		
  <head>
    <title>qndChat</title>
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dojo/dojo.js"
      data-dojo-config="isDebug: true,parseOnLoad: true"></script>  
    <script src="../mustache.js"></script>
    <script src="../main.js"></script>
    <script src="../header.js"></script>
    <script src="../posts.js"></script>
    <script src="../tabs.js"></script>
    <script src="../get_users.js"></script>
   <link rel="stylesheet" type="text/css" href="style.css"> 


  </head>

  <body onload="main()">


    <div id="header">
    </div>

    <div id="left">
      Userlist:
      <div id="user_select">
      </div>
      <a href="/new_room">Neuen Raum erstellen</a>
    </div>

    <div id="right">
      Infos
    </div>

    <div id="middle">

      <div id ="textwindow">
        <div id="tabs"></div>
        <ul id="posts"></ul>
      </div>

      <div id="submit">
        <form name="Textfeld" action="/posten" method="post">
          <textarea name="content" cols="50" rows="3"></textarea><br>
          <input type="hidden" name="room" id="room" value="">
          <input type="submit" value= "Absenden">		
        </form>
      </div>

    </div>

  </body>
</html>
