<!DOCTYPE HTML>
<html>		
	<body>

		<form action="/log_in" method="post" name="anm">
			Name: <input name="name" type="text">
			<a href="/reg">Registrieren</a><br>
			Passwort: <input name="PW" type="password">
			<input type="submit" value="anmelden">
		</form>
		
		<br>
		<br>

		<% for thisPost in @posts %>
		    <font size="1,5">
				Post Nummer <%= thisPost.id %> von <%= @users.get(thisPost.user_id).name %>: 
			</font>

			<br>

			<font size="3">
				<%= thisPost.content %>
			</font>

			<br>
			<br>

		<% end %>

	</body>

</html>
