<!DOCTYPE HTML>
<html>	
	
	<body>

		<form name="new_room" action="/create_room" method="post">
			Name des Raums: <input name="room_name" type="text">
			<br>
			<input type="submit">
		</form>
	</body>



</html>
