<!DOCTYPE HTML>
<html>	

	<head>
		<script language="javascript">
			<!--
		  	function click_submit() {


				if (document.reg.PW.value == document.reg.PW2.value) {
			    		document.reg.submit();
				}
				else
				{
					alert('Passwörter stimmen nicht überein!');
				}
				
		  	}
			// -->
		</script>
	</head>
	
	<body>

		<form name="reg" action="/registrieren" method="post">
			Benutzername: <input name="name" type="text">
			<br>
			Passwort: <input name="PW" type="password">
			<br>
			Passwort wiederholen: <input name="PW2" type="password">
			<br>
			E-Mail Adresse: <input name="mail" type="text">
			<br>
			<input onclick="javascript:click_submit()" type="button" value="Registrieren">
		</form>
	</body>



</html>
