<!DOCTYPE html>
    
  <html>
    <body>
    
    <% for thisPost in @room %>

    <p><%= thisPost.id %> <%= thisPost.name %>  
	<a href ="/delete_room/<%= thisPost.id %>"> löschen </a>

</p>
    
    <% end %>
    
 </body>
</html>
